.App {
  background-color: black;
  font-family: Poppins;
}
.limit_width {
  margin: 0px 120px;
}
/* Header start */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header img {
  width: 156px;
}
.header .locations a {
  text-decoration: none;
  margin: 0px 20px;
  color: #707070;
  font-size: 13px;
  transition: 0.5s;
  position: relative;
}
.header .locations a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #326cf9;
  left: 0px;
  bottom: -7px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0px -20px 10px #326cf9;
}
.header .locations a:hover::after {
  width: 100%;
}
.header .locations a:hover {
  color: #326cf9;
}
.header .register_but .login {
  width: 70px;
  height: 40px;
  background: none;
  color: #707070;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  border: #000000 1px solid;
  font-size: 15px;
  transition: 0.5s;
}
.header .register_but .login:hover {
  /* border: #3c82f4 1px solid; */
  color: #326cf9;
  letter-spacing: 1px;
}
.header .register_but .signup {
  width: 90px;
  height: 40px;
  border: none;
  background-color: #3c82f4;
  padding: 7px 15px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
  transition: 0.5s;
}
.header .register_but .signup:hover {
  letter-spacing: 1px;
}
/* Header end */

/* Banner start */
.banner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 128px;
  color: #ffffff;
}
.banner .gradien_trxt {
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -58px;
  margin-bottom: 30px;
}
.banner h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: -5px 0px;
}
.banner .but_bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.banner .but_bloc button {
  height: 66px;
  width: 242px;
  border-radius: 10px;
  margin: 5px;
}
.banner .but_bloc .one_but {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background-color: #0557db;
  border: #0557db 1px solid;
  transition: 0.5s;
  font-size: 17px;
}
.banner .but_bloc .one_but:hover {
  background: none;
  border: solid 1px #0557db;
  letter-spacing: 1px;
}
.banner .but_bloc .tou_but {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background: none;
  border: #0557db 1px solid;
  transition: 0.5s;
  font-size: 17px;
}
.banner .but_bloc .tou_but:hover {
  background: #0557db;
  border: solid 1px #0557db;
  letter-spacing: 1px;
}
.banner p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #707070;
  margin-top: 5px;
}
.banner p span {
  font-weight: 700;
  color: #ffffff;
}
.banner p span img {
  width: 23px;
}
.why_creators {
  width: 100%;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why_creators h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 112px;
}
.why_creators .why_types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.why_creators .why_types .cent_type {
  margin: 0px 170px;
}
.why_creators .why_types .cent_type h4 {
  font-size: 22px;
}

.why_types .why_type p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  color: #707070;
}
/* Banner end */

/* Connect content start */
.connect {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect .connect_head {
  width: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect .connect_head .steps {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #3d82f2;
  margin-bottom: 15px;
}
.connect .connect_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 112px;
  text-align: center;
  color: #ffffff;
}
.connect .connect_head p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #707070;
}
.connect .connect_head .view_btn {
  width: 252px;
  height: 66px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #707070;
  background: none;
  border-radius: 10px;
  margin-top: 40px;
  transition: 0.5s;
}
.connect .connect_head .view_btn:hover {
  letter-spacing: 1px;
}
.connect .connect_bloc {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.connect .connect_bloc .home_page {
  margin-left: 160px;
}
.connect .connect_bloc .home_page h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 100px;
}
.connect .connect_bloc .home_page h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 112px;
  color: #ffffff;
}
.connect .connect_bloc .home_page h1 span {
  color: #0557db;
}
.connect .connect_bloc .home_page p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.connect .connect_bloc .home_page .buttons {
  margin-top: 70px;
}
/* ............... */

.connect .connect_bloc .home_page .buttons .get_but {
  width: 150px;
  height: 55px;
  background: #0557db;
  border: 1px solid #0557db;
  border-radius: 10px;
  color: white;
  margin-right: 15px;
  font-size: 13px;

  transition: 0.5s;
}
.connect .connect_bloc .home_page .buttons .get_but:hover {
  background: none;
  color: #0557db;
  letter-spacing: 1px;
}
.connect .connect_bloc .home_page .buttons .view_but {
  width: 150px;
  height: 55px;
  background: none;
  border: 2px solid #707070;
  border-radius: 10px;
  color: #707070;
  font-size: 13px;

  transition: 0.5s;
}
.connect .connect_bloc .home_page .buttons .view_but:hover {
  background: #0557db;
  color: #ffffff;
  letter-spacing: 1px;
  border: #0557db 1px solid;
}

.connect .connect_bloc .screen img {
  width: 640px;
}
/* Connsct content end */

/* Share Homepage start */
.sharehome {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sharehome .head_fonts {
  width: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sharehome .head_fonts .steps {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #3d82f2;
  margin-bottom: 15px;
}
.sharehome .head_fonts h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 112px;
  text-align: center;
  color: #ffffff;
}
.sharehome .head_fonts p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  color: #707070;
}
.sharehome .tou_blocs {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sharehome .tou_blocs .onelink {
  background: #0d0d0d;
  margin-right: 15px;
  padding: 58px 30px;
  overflow: hidden;
}
.sharehome .tou_blocs .onelink p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #0fc65c;
}
.sharehome .tou_blocs .onelink h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
.sharehome .tou_blocs .onelink h1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #919191;
}
.sharehome .tou_blocs .onelink img {
  width: 800px;
  margin-bottom: -29px;
}
.sharehome .tou_blocs .subcribers {
  height: 100%;
  padding: 30px;
  height: 686px;
  width: 854px;
  background: #0d0d0d;
}
.sharehome .tou_blocs .subcribers p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 15px;
  color: #0fc65c;
  margin-bottom: 120px;
}
.sharehome .tou_blocs .subcribers h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
.sharehome .tou_blocs .subcribers h1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #919191;
}
.sharehome .get_start {
  width: 170px;
  height: 55px;
  background: #0557db;
  border: 1px solid #0557db;
  border-radius: 10px;
  color: white;
  margin-right: 15px;
  transition: 0.5s;
  margin-top: 30px;
}
.sharehome .get_start:hover {
  background: none;
  color: #0557db;
  letter-spacing: 1px;
}
/* Share Homepage end */

/* Send emailes starts */

.sendemails {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sendemails .send_head {
  width: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sendemails .send_head .steps {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  color: #3d82f2;
  margin-bottom: 15px;
}
.sendemails .send_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 112px;
  text-align: center;
  color: #ffffff;
}
.sendemails .send_head p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #707070;
}
.sendemails .send_head .view_btn {
  width: 252px;
  height: 66px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #707070;
  background: none;
  border-radius: 10px;
  margin-top: 40px;
  transition: 0.5s;
}
.sendemails .send_head .view_btn:hover {
  letter-spacing: 1px;
}
.sendemails .send_bloc {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sendemails .send_bloc .share h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 100px;
}
.sendemails .send_bloc .share h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  color: #ffffff;
}
.sendemails .send_bloc .share h1 span {
  color: #0557db;
}
.sendemails .send_bloc .share p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 30px;
}
.sendemails .send_bloc .share .btn_bloc {
  margin-top: 50px;
}
.sendemails .send_bloc .share .btn_bloc .get_btn {
  width: 150px;
  height: 55px;
  background: #0557db;
  border: 1px solid #0557db;
  border-radius: 10px;
  color: white;
  margin-right: 15px;
  font-size: 13px;
  transition: 0.5s;
}
.sendemails .send_bloc .share .btn_bloc .get_btn:hover {
  background: none;
  color: #0557db;
  letter-spacing: 1px;
}
.sendemails .send_bloc .share .btn_bloc .view_btn {
  width: 150px;
  height: 55px;
  background: none;
  border: 1px solid #707070;
  border-radius: 10px;
  color: #707070;
  font-size: 13px;
  transition: 0.5s;
}
.sendemails .send_bloc .share .btn_bloc .view_btn:hover {
  background: #0557db;
  color: #ffffff;
  letter-spacing: 1px;
  border: #0557db 1px solid;
}
.buttons {
  margin-top: 70px;
}

.sendemails .send_bloc .screenshot2 img {
  width: 610px;
  margin-right: -118px;
}
/* Send emailes ends */

/* Experts Agree start */
.experts_agree {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experts_agree img {
  width: 116%;
}
.experts_agree h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 112px;
  color: #ffffff;
}
/* Experts Agree end */

/* We`we start */
.wewe {
  margin-top: 100px;
}
.wewe .wewe_bloc {
  width: 100%;
  background-image: linear-gradient(to top, #07070756, #0000005e),
    url("./Images/Image-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 250px 0px;
}
.wewe .wewe_bloc h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
/* We`we end */

/* NewStart start */
.new_start {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new_start .logo {
  width: 150px;
  margin-bottom: 15px;
}
.new_start h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  color: #ffffff;
}
.new_start h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}
.new_start .new_btn {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #0557db;
  color: white;
  border: #0557db 1px solid;
  transition: 0.5s;
}
.new_start .new_btn:hover {
  background: none;
  color: #0557db;
  letter-spacing: 1px;
}
.new_start p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  color: #707070;
  margin-top: 5px;
}
.new_start p span {
  font-weight: 700;
  color: #ffffff;
}
.new_start p span img {
  width: 23px;
}
/* NewStart end */

/* SignUp start */
.signheader {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signheader h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.signheader p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-top: 30px;
}

.signheader .forms form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.signheader .forms input {
  width: 286px;
  height: 48px;
  margin: 15px 40px;
  border: none;
  background: none;
  outline: none;
  border-bottom: #707070 1px solid;
}
.signheader .forms .userneme {
  background-image: url('./Images/User.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
}
.signheader .forms .email {
  background-image: url('./Images/At_sign.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
}
.signheader .forms .password {
  background-image: url('./Images/Shape-8.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
}
.signheader .forms input:hover {
  color: #0557db;
  border-bottom : #0557db 1px solid;
}
.signheader .forms input:hover::placeholder {
  color: #0557db;
}


.signheader .forms .submit {
width: 286px;
height: 48px;
margin: 0px 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
background-color: #0557db;
border: none;

}




/* SignUp end */

/* Footer start */
.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .logo img {
  width: 156px;
}
.footer .navigation a {
  font-family: "Poppins";
  font-style: normal;
  text-decoration: none;
  list-style: none;
  color: #707070;
  margin-left: 15px;
  font-size: 15px;
  transition: all 0.5s;
}
.footer .navigation a:hover {
  color: #0557db;
}
/* Footer end */
